
<div class="container" dir="rtl">
  <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">عنوان </th>
                <th scope="col">توضیحات </th>
                <th scope="col">گروه بندی اصلی </th>


                <th scope="col">وضعیت</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let slideShow of slideShowList; let i= index;">
                <th scope="row">{{+i+1}}</th>
                <td>{{slideShow.title}}</td>
                <td> {{slideShow.description}}</td>
                <td> {{slideShow.mainCategoryId}}</td>


                <ng-container *ngIf="slideShow.status == true">
                  <td><span class="badge badge-success">فعال</span></td>
                </ng-container>

                <ng-container *ngIf="slideShow.status == false">
                  <td><span class="badge badge-danger">غیر فعال</span></td>
                </ng-container>

                <td>
                    <button class="btn btn-success" type="button" (click)="setOneStatusTrue(slideShow)">فعال کردن </button>
                    <button class="btn btn-danger" type="button" (click)="setOneStatusFalse(slideShow)">غیر فعال کردن</button>
                </td>
            </tr>


        </tbody>
    </table>
  </div>
</div>

