
<div class="container" dir="rtl">
  <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام شغل</th>
                <th scope="col">توضیحات شغل</th>


                <th scope="col">وضعیت</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jobCategory of jobCategoryList; let i= index;">
                <th scope="row">{{+i+1}}</th>
                <td>{{jobCategory.title}}</td>
                <td> {{jobCategory.description}}</td>

                <ng-container *ngIf="jobCategory.status == true">
                  <td><span class="badge badge-success">فعال</span></td>
                </ng-container>

                <ng-container *ngIf="jobCategory.status == false">
                  <td><span class="badge badge-danger">غیر فعال</span></td>
                </ng-container>

                <td>
                    <button class="btn btn-success" type="button" (click)="setOneStatusTrue(jobCategory)">فعال کردن </button>
                    <button class="btn btn-danger" type="button" (click)="setOneStatusFalse(jobCategory)">غیر فعال کردن</button>
                </td>
            </tr>


        </tbody>
    </table>
  </div>
</div>
