
.menu{
  color:#D10024;
  margin-bottom: 30px;

  border: 2px solid rgb(226, 223, 223);
  border-radius: 25px;

  margin-right: 20px;
  margin-left: 20px;
}
.menu:hover {
  background-color: rgb(245, 196, 196);;
}
