@import "~font-awesome/css/font-awesome.min.css";
@import "~assets/css/plugins/bootstrap/bootstrap.min.css";
@import "~assets/css/themes/lite-purple.min.css";
@import "~assets/css/plugins/perfect-scrollbar.min.css";
@import "~assets/css/nouislider.min.css";
@import "~assets/css/slick.css";
@import "~assets/css/slick-theme.css";
@import "~assets/css/store-style.css";
@import "~material-icons/iconfont/material-icons.css";

@font-face {
    font-family: Yekan;
    src: url("./assets/fonts/iransans/yekanweb-regular.woff") format("truetype");
}

* {
    font-family: 'Yekan', 'arial', sans-serif;
  }
